@import url('./typografy.css');
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('./fonts//ProximaNovaBold/Proxima\ Nova\ Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts//ProximaNovaRegular/ProximaNova-Regular.otf') format('opentype');
}

body {
  margin: 0;
  font-family: 'Proxima Nova';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
